<header>

</header>

<div class="list-content">
  <h1 class="list-name"><%= @list.name %></h1>
  <%= link_to '削除',list_path(@list.id), class: "destroy-btn", method: :delete, data: { confirm: '本当に?' } %>
  <%= link_to '編集', edit_list_path(@list), class: "edit-btn" %>
  <%= link_to '戻る', root_path, class: "back-btn" %>
</div>

<div class="task-new">
  <%= form_with(model: [@list, @task], local: true) do |form| %>
    
    <div class="title">
      <div class="form-tag">タイトル  <span class="title-hissu">(必須)</span></div>
      <%= form.text_field :title,  class:"form-tag-box"%>
    </div>

  <% end %>
</div>