<%= render "shared/header" %>

<div class="list-content">
  <h1 class="list-name">リスト名 『<%= @list.name %>』</h1>
  <%= link_to '削除',list_path(@list.id), class: "destroy-btn", method: :delete, data: { confirm: '本当に?' } %>
  <%= link_to '編集', edit_list_path(@list), class: "edit-btn" %>
  <%= link_to '戻る', root_path, class: "back-btn" %>
</div>

<h2 class="task-get">タスクを追加</h2>
<div class="task-new">

  <%= form_with(model: [@list, @task], local: true) do |form| %>

    <div class="title">
      <div class="form-tag">タイトル  <span class="title-hissu">(必須)</span></div>
      <%= form.text_field :title,  class:"form-tag-box"%>
    </div>




    <div class="time">
      <div class="form-tag form-tag-time">時間</div>
      <%= form.datetime_field :start_time, class: 'form-control' %>
    </div>

    <div class="submit">
      <%= form.submit class:"submit-box"%>
    </div>


  <% end %>
</div>

<ul>
<div class="task-list">
  <% @tasks.each do |task| %>
    <div class="list-border">
      <li><%= task.title%>
      <%= task.start_time&.strftime("%Y年%m月%d日%H時%M分") %>
      <%= link_to '完了',list_task_path(@list, task), class: "destroy-btn2", method: :delete %>
      </li>
    </div>
  <% end %>
</ul>