<header>

</header>

<div class="list-content">
  <h1 class="list-name"><%= @list.name %></h1>
  <%= link_to '削除',list_path(@list.id), class: "destroy-btn", method: :delete, data: { confirm: '本当に?' } %>
  <%= link_to '編集', edit_list_path(@list), class: "edit-btn" %>
  <%= link_to '戻る', root_path, class: "back-btn" %>
</div>

<div class="task-new">
  <%= form_with(model: [@list, @task], local: true) do |form| %>

    <div class="title">
      <div class="form-tag">タイトル  <span class="title-hissu">(必須)</span></div>
      <%= form.text_field :title,  class:"form-tag-box"%>
    </div>


    <div class="content">
      <div class="form-tag">内容</div>
      <%= form.text_field :content,  class:"content-box"%>
    </div>

    <div class="time">
      <div class="form-tag form-tag-time">時間</div>
      <%= form.datetime_field :start_time, class: 'form-control' %>
    </div>

    <div class="submit">
      <%= form.submit class:"submit-box"%>
    </div>


  <% end %>
</div>

<ul class="task-show">
  <% @tasks.each do |task| %>
    <li class="task-list">
      <%= task.title%>
      <%= task.content %>
      <%= task.start_time %>
    </li>
  <% end %>
</ul>